body{
	background-image: url("fondo9.jpg");
	width: 100%;
	height: auto;
}
.contCapaTitulo{
	width: 100%;
	top: 0;
	position: fixed;
}
.capaTitulo{
	padding-top: 1%;
	padding-bottom: 1%;
	float: left;
	display: inline-block;
	background-color: rgb(255,0,0);
	width: 100%;
	height: auto;
	border-bottom: 1px solid black;
	text-align: center;
}

.Micapa {
	padding-top: 5%;
	float: none;
	display: inline-block;
	background-color: rgb(255,50,50);
	border: 1px solid black;
	border-top: 0px;
	border-bottom: 0px;
	width: 70%;
	/*margin-right:14.9%;
	margin-left:14.9%;*/
	height: 100%;
	margin: auto 14.9%;
}
.contFooter{
	width: 100%;
	position: fixed;
	bottom: 0px;
}
.footer{
	padding-top: 1%;
	padding-bottom: 1%;
	float: left;
	display: inline-block;
	background-image: url("pie.jpg");
	width: 100%;
	height: auto;
	border-top: 1px solid black;
	text-align: center;
}

h1{
	margin: 0;
	display: block;
	width: auto;
	height: auto;
	color: rgb(0,0,0);
}
h4{
	margin: 0;
	display: block;
	width: auto;
	height: auto;
	color: rgb(104,104,104);
}

h6{
	margin: 0;
	display: block;
	width: auto;
	height: auto;
	color: rgb(104,104,104);
}
/*a{
	background-color: rgb(255,255,255);
	padding: 1%;
	border: 1px solid black;
	text-align: center;
}*/